.nav {
  border-bottom: solid 2px $color-grey-3;

  .mark {
    width: 150px;
  }
}

.nav.menu {

  position: fixed;
  overflow: hidden;
  z-index: 2;
  background-color: $color-pri;



  a.link {
    text-decoration: none;
  }
}